<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Boggle</title>
  </head>
  <body>
    <section id="boggle">
      <h1>Flask Boggle</h1>
      <table class="board" id="board">
        <tbody>
          <!-- row in board -->
          {% for row in board %}
          <tr>
            <!-- cell (letter) in row -->
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Form -->
      <form class="check-word">
        <label for="guess">What word can you find?</label>
        <input type="text" id="guess" name="guess" class="guess" autofocus />
        <input class="btn-submit" type="submit" />
      </form>

      <div>
        <p>High Score: {{ highscore }}</p>
        <p>Play count: {{ playcount }}</p>
        <input
          type="button"
          value="New Game"
          onClick="location.href=location.href"
        />
      </div>
    </section>
    <script src="https://unpkg.com/jquery@3.5.1/dist/jquery.js"></script>
    <script src="https://unpkg.com/axios@0.21.1/dist/axios.js"></script>
    <script src="../static/boggle.js"></script>
  </body>
</html>
